* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(162, 132, 77);
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 10px;
}

.book-card {
  background-color: #856b6bde;
  color: #fff;
  border: 2px solid #fff;
  padding: 15px;
  font-size: 1.1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: all 0.3s ease;
}

.book-card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-area {
  display: flex;
  gap: 5px;
}

.btn-area button {
  background-color: #ad6608;
  color: #fff;
  border-radius: 8px;
  padding: 3px 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-area button:hover {
  transform: scale(1.02);
  background-color: #b76d0b;
}

#btn-open-form {
  padding: 15px 25px;
  border-radius: 8px;
  background-color: #262626;
  color: #fff;
  border: none;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-open-form:hover {
  transform: scale(1.02);
  background-color: #2e2e2e;
}

dialog {
  padding: 0;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Скрываем диалог по умолчанию */
dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

dialog form input[type="text"],
dialog form input[type="number"] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  transition: all 0.3s ease;
}

dialog form input:focus {
  border-color: #856b6b;
  box-shadow: 0 0 8px rgba(133, 107, 107, 0.4);
  outline: none;
}

dialog form label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: black;
}

dialog form button[type="submit"] {
  padding: 10px;
  background-color: #856b6b;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

dialog form button[type="submit"]:hover {
  background-color: #a67c7c;
  transform: scale(1.02);
}

dialog form button[type="submit"]:active {
  transform: scale(0.98);
}

#empty-container {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #fff;
}
